@{
    ViewBag.Title = "Gestión de proyectos";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            @*<p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>*@
        </div>
    </section>
}
<h3>Sugerimos que haga lo siguiente:</h3>
<ol class="round">
    <li class="one">
        <h5>Agregue uno o varios gerentes</h5>
        Haga click en "Gerentes" para agregar un nuevo gerente el cual tendrá a cargo un proyecto, 
        y además visualizar los que ya existen.

    <li class="two">
        <h5>Agregue proyectos</h5>
        Luego haga click en "Proyectos" para crear un proyecto nuevo, que estará a cargo de algún gerente
        que ya existe, y también podrá visualizar los proyectos que ya existan.
    </li>
</ol>
